div#error-message {
   position:sticky;
   top:0;
   font-size:0.9rem;
   background:#000000;
   color:rgb(255, 255, 255);
   margin-bottom: 1%;
   padding: 1%;
}

body {
    font-size:1rem;
    font-family: "Noto Sans";
    margin: 0;
 }

 #main-wrapper {
    margin: auto;
    width: 90vw;
 }

.panel-navigation {
    display:none;
 }

.journal-logo {
   background: var(--journal-color);
   width: 50%;
 }

 #abstract-navigation {
    display:none;
 }

.abstract-text {
    font-style: italic;
 }

 section {
   column-count: 1 !important;
 }

 p[id] {
    text-align: justify;
 }

.paragraph-counter {
   padding-right:20px;
 }

.fn-list li {
  list-style-type: none;
}

.fn-list p {
   display: inline;
}

.footnote > .label {
   padding: 0 10px;
}

#gazetteer-list li {
   list-style-type: none;
}

#arachne-list li {
   list-style-type:none;
}

 figure {
    margin: 0;
 }

 img {
   width: 100%;
 }

 div.footnote {
    display: flex;
    flex-direction: row;
    align-items: baseline;
 }
 
 div.footnote > .label {
    font-weight: 500;
    padding-right:2%;
 }

.internal-index-summary {
   display:none
}

details {
   margin: 1% 0;
}

.map {
   display: none;
}

.screenreader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
  }